<div class="container col-md-6 col-sm-10">
  <div class="h3 align-self-center"> Check City Weathers</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="text" formControlName="city" class="form-control" placeholder="Ex: London"
        [ngClass]="{ 'is-invalid': submitted && form.controls['city'].errors}" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" [disabled]="loading" id="search-btn">Search</button>
      </div>
    </div>
    @if (submitted && form.controls['city'].errors) {
    <div class="control-error">
      @if (form.controls['city'].errors['required']) {
      <div>City is Required</div>
      }
      @if (form.controls['city'].errors['pattern']) {
      <div>Doesn't allow numbers.</div>
      }
    </div>
    }
  </form>
  @if(searchResults){
    <div class="align-self-center"> 
        <button class="btn btn-primary" (click)="onDisplay()" id="display-btn">Display Weather</button>
    </div>
    }
</div>
