<div class="container col-md-6 col-sm-10">
  <div *ngIf="weather$ | async as weather">
    <div class="d-flex">
      <div class="h3">City: {{weather.city}},{{weather.country}}</div>
      <div class="d-flex flex-row-reverse">
        <button class=" btn btn-secondary" (click)="goBack()">Back</button>
      </div>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date (mm/dd/yyyy)</th>
            <th scope="col">Temp (F)</th>
            <th scope="col " class="d-none d-sm-table-cell">Description</th>
            <th scope="col " class="d-none d-sm-table-cell">Main</th>
            <th scope="col " class="d-none d-sm-table-cell">Pressure</th>
            <th scope="col " class="d-none d-sm-table-cell">Humidity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let details of weather.weather">
            <td>{{details.date | date: 'MM/dd/yyyy'}}</td>
            <td>{{details.temp}}</td>
            <td class="d-none d-sm-table-cell">{{details.description}}</td>
            <td class="d-none d-sm-table-cell">{{details.main}}</td>
            <td class="d-none d-sm-table-cell">{{details.pressure}}</td>
            <td class="d-none d-sm-table-cell">{{details.humidity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
