<div class="container login-cont">
  <div class="card mx-auto">
    <div class="card-body">
      <div class="card-title h1">Weather Forecast</div>
      <div class="h3 sub-title"> Login to Weather Forecast Application</div>
      <div> Welcome to weather forcast web application. Please login with your Github user to use the
        application and view the weather in your city.</div>
      <div class="col-md-6 col-sm-12 login-btn-cont">
        <login-button />
      </div>

    </div>

  </div>
</div>
